# 處理 outliers
* 新增欄位註記
* outliers 或 NA 填補
    1. 平均數 (mean)
    2. 中位數 (median, or Q50)
    3. 最大/最小值 (max/min, Q100, Q0)
    4. 分位數 (quantile)

# [作業目標]
- 仿造範例的資料操作, 試著進行指定的離群值處理

# [作業重點]
- 計算 AMT_ANNUITY 的分位點 (q0 - q100) (Hint : np.percentile, In[3])
- 將 AMT_ANNUITY 的 NaN 用中位數取代 (Hint : q50, In[4])
- 將 AMT_ANNUITY 數值轉換到 -1 ~ 1 之間 (Hint : 參考範例, In[5])
- 將 AMT_GOOD_PRICE 的 NaN 用眾數取代 (In[6])

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# 設定 data_path
dir_data = './Part01/'

In [2]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ./Part01/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 1. 列出 AMT_ANNUITY 的 q0 - q100
## 2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補
## 2.2 將 AMT_ANNUITY 的數值標準化至 -1 ~ 1 間
## 3. 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

In [4]:
quantile_5s = [np.percentile(app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in range(101)]
print(quantile_5s)

[1615.5, 6182.910000000001, 6750.0, 7875.0, 8703.0, 9000.0, 9000.0, 9553.5, 10125.0, 10503.0, 11074.5, 11430.0, 11970.0, 12375.0, 12838.5, 13302.0, 13500.0, 13500.0, 13896.0, 14350.5, 14701.5, 15124.5, 15583.5, 15970.5, 16209.0, 16524.0, 16852.5, 17109.0, 17487.0, 17806.5, 18189.0, 18643.5, 19102.5, 19417.5, 19836.0, 20151.0, 20421.0, 20853.0, 21186.0, 21609.0, 21865.5, 22018.5, 22342.5, 22527.0, 22972.5, 23346.0, 23719.5, 23931.0, 24259.5, 24583.589999999953, 24903.0, 25240.5, 25537.5, 25960.5, 26217.0, 26316.0, 26640.0, 26860.5, 27189.0, 27558.0, 28062.0, 28480.5, 28917.0, 29340.0, 29830.5, 30078.0, 30483.0, 30897.0, 31275.0, 31630.5, 32004.0, 32458.5, 32895.0, 33376.5, 33984.0, 34596.0, 35345.16000000005, 35806.5, 36328.5, 36747.0, 37516.5, 37948.5, 38556.0, 39456.0, 40135.5, 40806.0, 41845.5, 42790.5, 43735.5, 44991.0, 45954.0, 47254.5, 48465.0, 49878.0, 51745.5, 53325.0, 55624.5, 58482.0, 62964.0, 70006.5, 258025.5]

In [6]:
"""
YOUR CODE HERE
"""
# 1: 計算 AMT_ANNUITY 的 q0 - q100
q_all = quantile_5s

pd.DataFrame({'q': list(range(101)),
              'value': q_all})

       q      value
0      0    1615.50
1      1    6182.91
2      2    6750.00
3      3    7875.00
4      4    8703.00
5      5    9000.00
6      6    9000.00
7      7    9553.50
8      8   10125.00
9      9   10503.00
10    10   11074.50
11    11   11430.00
12    12   11970.00
13    13   12375.00
14    14   12838.50
15    15   13302.00
16    16   13500.00
17    17   13500.00
18    18   13896.00
19    19   14350.50
20    20   14701.50
21    21   15124.50
22    22   15583.50
23    23   15970.50
24    24   16209.00
25    25   16524.00
26    26   16852.50
27    27   17109.00
28    28   17487.00
29    29   17806.50
..   ...        ...
71    71   32458.50
72    72   32895.00
73    73   33376.50
74    74   33984.00
75    75   34596.00
76    76   35345.16
77    77   35806.50
78    78   36328.50
79    79   36747.00
80    80   37516.50
81    81   37948.50
82    82   38556.00
83    83   39456.00
84    84   40135.50
85    85   40806.00
86    86   41845.50
87    87   42790.50
88    88   43735.50
89    89   44991.00
90    90   45954.00
91    91   47254.50
92    92   48465.00
93    93   49878.00
94    94   51745.50
95    95   53325.00
96    96   55624.50
97    97   58482.00
98    98   62964.00
99    99   70006.50
100  100  258025.50

[101 rows x 2 columns]

In [11]:
app_train['AMT_ANNUITY'].median()

24903.0

In [10]:
# 2.1 將 NAs 以 q50 填補
print("Before replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

"""
Your Code Here
"""
q_50 = app_train['AMT_ANNUITY'].median()
app_train.loc[app_train['AMT_ANNUITY'].isnull(),'AMT_ANNUITY'] = q_50

print("After replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

Before replace NAs, numbers of row that AMT_ANNUITY is NAs: 12
After replace NAs, numbers of row that AMT_ANNUITY is NAs: 0

### Hints: Normalize function (to -1 ~ 1)
$ y = 2*(\frac{x - min(x)}{max(x) - min(x)} - 0.5) $

In [18]:
# 2.2 Normalize values to -1 to 1
print("== Original data range ==")
print(app_train['AMT_ANNUITY'].describe())

def normalize_value(x):
    """
    Your Code Here, compelete this function
    """
    x = 2 * (((x-x.min()) / (x.max() - x.min())) - 0.5)
    return x

app_train['AMT_ANNUITY_NORMALIZED'] = normalize_value(app_train['AMT_ANNUITY'])

print("== Normalized data range ==")
app_train['AMT_ANNUITY_NORMALIZED'].describe()

== Original data range ==
count    307511.000000
mean      27108.487841
std       14493.461065
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
== Normalized data range ==

count    307511.000000
mean         -0.801154
std           0.113049
min          -1.000000
25%          -0.883714
50%          -0.818357
75%          -0.742752
max           1.000000
Name: AMT_ANNUITY_NORMALIZED, dtype: float64

In [26]:
print('min_value' ,app_train['AMT_ANNUITY_NORMALIZED'].min())
print('max_valuea',app_train['AMT_ANNUITY_NORMALIZED'].max())

min_value -1.0
max_valuea 1.0

In [27]:
# 3
print("Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

# 列出重複最多的數值
"""
Your Code Here
"""
value_most = app_train['AMT_ANNUITY'].mode()
print(value_most)

mode_goods_price = list(app_train['AMT_GOODS_PRICE'].value_counts().index)
app_train.loc[app_train['AMT_GOODS_PRICE'].isnull(), 'AMT_GOODS_PRICE'] = mode_goods_price[0]

print("After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 278
0    9000.0
dtype: float64
After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0

In [28]:
app_train['AMT_ANNUITY'].mode()

0    9000.0
dtype: float64

In [30]:
value = list()
count = dict()
for i in app_train['AMT_ANNUITY']:
    if i not in value:
        value.append(i)
        count[i] = 1
    else:
        count[i] += 1

In [36]:
count

{24700.5: 13,
 35698.5: 162,
 6750.0: 2279,
 29686.5: 6,
 21865.5: 245,
 27517.5: 149,
 41301.0: 24,
 42075.0: 66,
 33826.5: 65,
 20250.0: 1345,
 21177.0: 38,
 10678.5: 83,
 5881.5: 26,
 28966.5: 19,
 32778.0: 31,
 20160.0: 62,
 26149.5: 25,
 13500.0: 5514,
 7875.0: 741,
 17563.5: 228,
 21375.0: 248,
 37561.5: 20,
 32521.5: 148,
 23850.0: 331,
 12703.5: 40,
 11074.5: 220,
 27076.5: 151,
 23827.5: 16,
 57676.5: 109,
 9000.0: 6385,
 24592.5: 376,
 25033.5: 110,
 20893.5: 31,
 39069.0: 120,
 32895.0: 564,
 44509.5: 29,
 23157.0: 50,
 15151.5: 58,
 17338.5: 233,
 27000.0: 681,
 35028.0: 73,
 29196.0: 89,
 16258.5: 83,
 42970.5: 19,
 48280.5: 4,
 17649.0: 29,
 26838.0: 81,
 37255.5: 204,
 49927.5: 82,
 34596.0: 240,
 14661.0: 148,
 16164.0: 358,
 32472.0: 360,
 45558.0: 3,
 15381.0: 24,
 12375.0: 1339,
 27265.5: 19,
 46899.0: 40,
 86989.5: 1,
 44118.0: 7,
 40189.5: 78,
 10462.5: 77,
 9679.5: 23,
 40657.5: 93,
 43983.0: 23,
 22500.0: 1234,
 21109.5: 466,
 24435.0: 111,
 26140.5: 9,
 28894.5: 48,
 21775.5: 643,
 37800.0: 1602,
 15781.5: 13,
 28273.5: 70,
 5301.0: 11,
 14593.5: 77,
 30280.5: 279,
 41076.0: 35,
 38443.5: 17,
 22072.5: 86,
 10264.5: 11,
 16965.0: 138,
 30690.0: 95,
 23755.5: 114,
 31288.5: 24,
 25065.0: 33,
 27954.0: 16,
 64107.0: 28,
 6696.0: 36,
 22599.0: 400,
 14683.5: 65,
 32017.5: 232,
 26541.0: 36,
 28215.0: 339,
 26145.0: 230,
 26217.0: 1453,
 19737.0: 306,
 28647.0: 11,
 26208.0: 116,
 5341.5: 7,
 30802.5: 28,
 45625.5: 18,
 73611.0: 1,
 18810.0: 80,
 26271.0: 22,
 49356.0: 1,
 29223.0: 20,
 24016.5: 24,
 33750.0: 652,
 27994.5: 48,
 30028.5: 3,
 16789.5: 5,
 12456.0: 90,
 22099.5: 159,
 36459.0: 1191,
 26374.5: 14,
 11772.0: 13,
 9720.0: 13,
 32526.0: 43,
 21906.0: 800,
 39127.5: 62,
 61132.5: 12,
 27486.0: 21,
 41800.5: 96,
 36747.0: 164,
 13972.5: 18,
 18216.0: 76,
 19773.0: 19,
 43362.0: 1,
 35568.0: 56,
 15241.5: 325,
 46170.0: 17,
 26725.5: 40,
 11250.0: 1459,
 45067.5: 11,
 31653.0: 1269,
 33309.0: 2,
 28917.0: 128,
 53329.5: 129,
 12667.5: 13,
 23494.5: 540,
 10903.5: 61,
 13095.0: 163,
 56290.5: 96,
 14440.5: 15,
 24781.5: 34,
 21037.5: 72,
 15124.5: 54,
 15750.0: 684,
 9373.5: 17,
 32125.5: 400,
 28692.0: 95,
 32616.0: 15,
 18891.0: 119,
 27193.5: 278,
 6597.0: 15,
 11097.0: 11,
 30699.0: 17,
 25294.5: 30,
 22738.5: 165,
 29016.0: 21,
 25627.5: 63,
 49873.5: 59,
 19930.5: 40,
 28516.5: 46,
 8172.0: 35,
 6705.0: 14,
 25321.5: 417,
 49050.0: 20,
 83515.5: 9,
 30568.5: 74,
 77494.5: 4,
 36864.0: 354,
 28552.5: 31,
 55719.0: 73,
 32364.0: 15,
 16047.0: 229,
 30276.0: 32,
 28926.0: 13,
 19926.0: 70,
 20353.5: 42,
 50148.0: 4,
 51687.0: 37,
 28530.0: 60,
 10827.0: 60,
 13833.0: 171,
 35505.0: 17,
 26995.5: 23,
 19381.5: 8,
 23643.0: 268,
 4513.5: 12,
 6529.5: 11,
 14134.5: 31,
 50391.0: 41,
 34911.0: 331,
 52825.5: 7,
 16119.0: 41,
 9135.0: 13,
 21955.5: 54,
 20488.5: 58,
 22243.5: 9,
 41548.5: 62,
 32665.5: 47,
 48186.0: 5,
 34960.5: 70,
 17937.0: 63,
 18040.5: 273,
 23319.0: 127,
 16875.0: 1213,
 66262.5: 1,
 38281.5: 4,
 18670.5: 49,
 39438.0: 183,
 16200.0: 121,
 16407.0: 70,
 38268.0: 16,
 29862.0: 229,
 17298.0: 31,
 22383.0: 211,
 21888.0: 688,
 26878.5: 22,
 17707.5: 49,
 14355.0: 43,
 65956.5: 2,
 35392.5: 269,
 31032.0: 5,
 24241.5: 24,
 17059.5: 30,
 48676.5: 11,
 22468.5: 74,
 31131.0: 155,
 9256.5: 14,
 15709.5: 85,
 15970.5: 31,
 35824.5: 179,
 21892.5: 15,
 15268.5: 142,
 31315.5: 17,
 35419.5: 67,
 25960.5: 199,
 21064.5: 31,
 26500.5: 55,
 30438.0: 58,
 12109.5: 3,
 32868.0: 24,
 49374.0: 6,
 31500.0: 342,
 26874.0: 116,
 55800.0: 1,
 18265.5: 148,
 31261.5: 822,
 10849.5: 150,
 32341.5: 27,
 42124.5: 30,
 17716.5: 148,
 20677.5: 384,
 30204.0: 201,
 10939.5: 87,
 26640.0: 1236,
 23274.0: 63,
 24750.0: 359,
 44082.0: 32,
 4504.5: 8,
 14647.5: 112,
 17095.5: 297,
 25803.0: 84,
 23121.0: 107,
 47983.5: 33,
 23449.5: 26,
 31833.0: 14,
 20596.5: 197,
 19282.5: 23,
 42898.5: 10,
 14944.5: 23,
 11164.5: 19,
 10125.0: 2035,
 62698.5: 173,
 26833.5: 237,
 48942.0: 9,
 30078.0: 450,
 19647.0: 91,
 67500.0: 431,
 24246.0: 406,
 22527.0: 263,
 16222.5: 39,
 31464.0: 318,
 29781.0: 57,
 46269.0: 11,
 42354.0: 30,
 30528.0: 626,
 25447.5: 121,
 57519.0: 30,
 11533.5: 112,
 20929.5: 19,
 43587.0: 9,
 20695.5: 100,
 68643.0: 231,
 14778.0: 135,
 59485.5: 108,
 11034.0: 55,
 32053.5: 143,
 25330.5: 78,
 37512.0: 12,
 8658.0: 16,
 28467.0: 19,
 16663.5: 6,
 21825.0: 54,
 39604.5: 305,
 22018.5: 904,
 34101.0: 1,
 26743.5: 228,
 29173.5: 13,
 23337.0: 32,
 56277.0: 29,
 33412.5: 29,
 9351.0: 33,
 27360.0: 17,
 38241.0: 17,
 13419.0: 119,
 9198.0: 46,
 42957.0: 5,
 12433.5: 61,
 20259.0: 64,
 30442.5: 145,
 35946.0: 16,
 26793.0: 65,
 17136.0: 61,
 47542.5: 86,
 25272.0: 54,
 45454.5: 21,
 30303.0: 17,
 16294.5: 119,
 30951.0: 18,
 22891.5: 40,
 7438.5: 25,
 11416.5: 43,
 32076.0: 65,
 23296.5: 7,
 25290.0: 31,
 27679.5: 330,
 16978.5: 45,
 36391.5: 46,
 27423.0: 326,
 24273.0: 9,
 16713.0: 296,
 7911.0: 20,
 17640.0: 67,
 13284.0: 52,
 23872.5: 129,
 39469.5: 46,
 35743.5: 73,
 26509.5: 393,
 45000.0: 570,
 31324.5: 22,
 20223.0: 38,
 50269.5: 49,
 16924.5: 25,
 40500.0: 217,
 12991.5: 9,
 22783.5: 25,
 24075.0: 50,
 25816.5: 84,
 38686.5: 225,
 17167.5: 300,
 57550.5: 4,
 41692.5: 313,
 29623.5: 28,
 33025.5: 938,
 24903.0: 135,
 36963.0: 9,
 35631.0: 23,
 29808.0: 63,
 41674.5: 45,
 34870.5: 7,
 12672.0: 26,
 24799.5: 76,
 16240.5: 32,
 62019.0: 27,
 12312.0: 61,
 19255.5: 108,
 36090.0: 35,
 28701.0: 14,
 43857.0: 25,
 11700.0: 10,
 27684.0: 35,
 20898.0: 27,
 52857.0: 79,
 20740.5: 48,
 11421.0: 22,
 8253.0: 16,
 19867.5: 653,
 17820.0: 62,
 34807.5: 15,
 25002.0: 9,
 13086.0: 34,
 19125.0: 471,
 14449.5: 7,
 11619.0: 117,
 42066.0: 57,
 37656.0: 1,
 24412.5: 269,
 22252.5: 132,
 26901.0: 192,
 43299.0: 77,
 11245.5: 31,
 26703.0: 172,
 13176.0: 26,
 29736.0: 58,
 21672.0: 328,
 28350.0: 47,
 24178.5: 37,
 31068.0: 12,
 17230.5: 12,
 4959.0: 8,
 43785.0: 31,
 116266.5: 1,
 11488.5: 146,
 38974.5: 8,
 40320.0: 703,
 25078.5: 195,
 27400.5: 42,
 36927.0: 96,
 13437.0: 147,
 26559.0: 12,
 60070.5: 43,
 17586.0: 64,
 24363.0: 164,
 15912.0: 7,
 16839.0: 98,
 29209.5: 79,
 26973.0: 19,
 31950.0: 17,
 45328.5: 17,
 13090.5: 232,
 21969.0: 60,
 11718.0: 81,
 19998.0: 212,
 26055.0: 3,
 51534.0: 8,
 28107.0: 72,
 9900.0: 29,
 35685.0: 244,
 25542.0: 118,
 23841.0: 18,
 44617.5: 161,
 47272.5: 33,
 14724.0: 31,
 28426.5: 5,
 19800.0: 28,
 72778.5: 4,
 19260.0: 103,
 28957.5: 47,
 26446.5: 916,
 16276.5: 37,
 37669.5: 386,
 13653.0: 31,
 49500.0: 121,
 52168.5: 103,
 16249.5: 49,
 22216.5: 139,
 37849.5: 23,
 46701.0: 99,
 8469.0: 17,
 8982.0: 23,
 18693.0: 47,
 79065.0: 13,
 25195.5: 90,
 14575.5: 81,
 19120.5: 33,
 38250.0: 197,
 20151.0: 107,
 15552.0: 44,
 20380.5: 20,
 47056.5: 59,
 29677.5: 117,
 13045.5: 237,
 31887.0: 158,
 13387.5: 154,
 31333.5: 112,
 54684.0: 3,
 38722.5: 6,
 19939.5: 16,
 13378.5: 46,
 16357.5: 36,
 11695.5: 48,
 19606.5: 28,
 7924.5: 8,
 17149.5: 236,
 11767.5: 39,
 19822.5: 121,
 16753.5: 75,
 16069.5: 58,
 36504.0: 15,
 14512.5: 76,
 46732.5: 11,
 24984.0: 53,
 46084.5: 436,
 31522.5: 495,
 14607.0: 79,
 27153.0: 196,
 13135.5: 8,
 29002.5: 12,
 23134.5: 20,
 40410.0: 43,
 40477.5: 12,
 13527.0: 35,
 23413.5: 28,
 16704.0: 8,
 29250.0: 506,
 10809.0: 42,
 35788.5: 12,
 17946.0: 30,
 20340.0: 30,
 31482.0: 31,
 19629.0: 13,
 21919.5: 250,
 22234.5: 70,
 32067.0: 43,
 37579.5: 13,
 29839.5: 256,
 11650.5: 73,
 21154.5: 16,
 43443.0: 156,
 13549.5: 24,
 60259.5: 2,
 26325.0: 27,
 59094.0: 128,
 14305.5: 54,
 25393.5: 37,
 18103.5: 65,
 16506.0: 107,
 51948.0: 379,
 17271.0: 32,
 10345.5: 94,
 16366.5: 124,
 20979.0: 395,
 51750.0: 6,
 25636.5: 40,
 34839.0: 16,
 17208.0: 93,
 19134.0: 237,
 17352.0: 58,
 5166.0: 92,
 19993.5: 21,
 7420.5: 16,
 25506.0: 106,
 17019.0: 163,
 50121.0: 15,
 9621.0: 25,
 10606.5: 41,
 58243.5: 1,
 26226.0: 64,
 22437.0: 234,
 22558.5: 17,
 51543.0: 311,
 46557.0: 32,
 30834.0: 36,
 42826.5: 34,
 29866.5: 42,
 74191.5: 1,
 18085.5: 40,
 11839.5: 49,
 28507.5: 65,
 47254.5: 53,
 24786.0: 38,
 27387.0: 89,
 18400.5: 74,
 31194.0: 8,
 31761.0: 18,
 39159.0: 2,
 23215.5: 6,
 26568.0: 7,
 18949.5: 23,
 32818.5: 24,
 28962.0: 18,
 26086.5: 507,
 32602.5: 687,
 10201.5: 31,
 43645.5: 13,
 28287.0: 43,
 12694.5: 202,
 4950.0: 8,
 9733.5: 8,
 44581.5: 13,
 40387.5: 7,
 48870.0: 10,
 26779.5: 74,
 17775.0: 247,
 47880.0: 26,
 14697.0: 56,
 33376.5: 242,
 7285.5: 6,
 20448.0: 14,
 38938.5: 155,
 20686.5: 22,
 12447.0: 19,
 29353.5: 78,
 31086.0: 44,
 46206.0: 2,
 34749.0: 137,
 21253.5: 39,
 29506.5: 113,
 34110.0: 46,
 17865.0: 14,
 63549.0: 72,
 16825.5: 59,
 39330.0: 7,
 19233.0: 34,
 15084.0: 73,
 58333.5: 82,
 44140.5: 14,
 56362.5: 10,
 72477.0: 14,
 51120.0: 21,
 14296.5: 40,
 27724.5: 134,
 31576.5: 90,
 27324.0: 338,
 14994.0: 16,
 11506.5: 53,
 16623.0: 31,
 43659.0: 110,
 59845.5: 3,
 23845.5: 15,
 35523.0: 264,
 47650.5: 2,
 14872.5: 33,
 39060.0: 18,
 21420.0: 96,
 20164.5: 87,
 29682.0: 29,
 9193.5: 29,
 42750.0: 98,
 22090.5: 110,
 20281.5: 105,
 29515.5: 16,
 68490.0: 18,
 42318.0: 19,
 35964.0: 40,
 44352.0: 5,
 40221.0: 75,
 7195.5: 20,
 8037.0: 9,
 7582.5: 8,
 32764.5: 101,
 22023.0: 45,
 19575.0: 90,
 23931.0: 501,
 23989.5: 75,
 18513.0: 43,
 19746.0: 13,
 16101.0: 7,
 24471.0: 69,
 16726.5: 7,
 30289.5: 45,
 52375.5: 11,
 58828.5: 1,
 9616.5: 102,
 25024.5: 15,
 36279.0: 9,
 20668.5: 80,
 9297.0: 5,
 27432.0: 34,
 16695.0: 39,
 13932.0: 22,
 19831.5: 26,
 10566.0: 53,
 27715.5: 101,
 25848.0: 33,
 14980.5: 31,
 44824.5: 38,
 39046.5: 2,
 20772.0: 39,
 16546.5: 28,
 12915.0: 138,
 10053.0: 129,
 32940.0: 11,
 51795.0: 9,
 12334.5: 120,
 16155.0: 291,
 11434.5: 12,
 27009.0: 34,
 16033.5: 127,
 4873.5: 44,
 33732.0: 35,
 30415.5: 107,
 33736.5: 22,
 37098.0: 47,
 28503.0: 167,
 21793.5: 64,
 29475.0: 14,
 26316.0: 829,
 21541.5: 176,
 8851.5: 21,
 13774.5: 55,
 62572.5: 30,
 29970.0: 643,
 38821.5: 14,
 15628.5: 115,
 25348.5: 177,
 20214.0: 47,
 13396.5: 26,
 22495.5: 88,
 29376.0: 147,
 32877.0: 87,
 26154.0: 181,
 81108.0: 1,
 32274.0: 340,
 49428.0: 109,
 42943.5: 6,
 84694.5: 1,
 40675.5: 41,
 25186.5: 62,
 17784.0: 67,
 38556.0: 88,
 42619.5: 37,
 45202.5: 165,
 27693.0: 60,
 21051.0: 93,
 26050.5: 36,
 31176.0: 29,
 52614.0: 6,
 6399.0: 9,
 24201.0: 60,
 28143.0: 18,
 22959.0: 52,
 6075.0: 34,
 32224.5: 43,
 27292.5: 104,
 12501.0: 37,
 34785.0: 115,
 17739.0: 83,
 46570.5: 33,
 16011.0: 419,
 21789.0: 26,
 14103.0: 39,
 45724.5: 38,
 20083.5: 28,
 31360.5: 33,
 44671.5: 45,
 39204.0: 14,
 37273.5: 13,
 25744.5: 13,
 46143.0: 7,
 10620.0: 111,
 16515.0: 41,
 31171.5: 119,
 28975.5: 64,
 48082.5: 67,
 23053.5: 73,
 14377.5: 73,
 15786.0: 101,
 52321.5: 88,
 17370.0: 77,
 23958.0: 17,
 35343.0: 32,
 59589.0: 55,
 17086.5: 56,
 28062.0: 73,
 55341.0: 4,
 23859.0: 61,
 9171.0: 19,
 42273.0: 2,
 37746.0: 35,
 31995.0: 124,
 43780.5: 24,
 11596.5: 12,
 45949.5: 23,
 20884.5: 17,
 17253.0: 72,
 32796.0: 19,
 34150.5: 5,
 20326.5: 22,
 8122.5: 22,
 37516.5: 88,
 45445.5: 38,
 37444.5: 35,
 10782.0: 17,
 9774.0: 20,
 23107.5: 302,
 21852.0: 42,
 25758.0: 17,
 24259.5: 230,
 10795.5: 45,
 42790.5: 527,
 28525.5: 75,
 35761.5: 100,
 34209.0: 110,
 25888.5: 36,
 33259.5: 178,
 32337.0: 272,
 57001.5: 181,
 28206.0: 6,
 22585.5: 91,
 47038.5: 5,
 31747.5: 48,
 66019.5: 1,
 43839.0: 58,
 17851.5: 29,
 32710.5: 5,
 60511.5: 1,
 19602.0: 32,
 53460.0: 188,
 8419.5: 26,
 19273.5: 13,
 19111.5: 72,
 18918.0: 9,
 36180.0: 16,
 7254.0: 48,
 15228.0: 32,
 16443.0: 67,
 14562.0: 30,
 38133.0: 227,
 22662.0: 30,
 43150.5: 44,
 13261.5: 63,
 48460.5: 5,
 18391.5: 75,
 12753.0: 11,
 24543.0: 418,
 25101.0: 73,
 25956.0: 14,
 39006.0: 13,
 29164.5: 163,
 16852.5: 252,
 6318.0: 15,
 27936.0: 71,
 44293.5: 12,
 19417.5: 148,
 19215.0: 45,
 9265.5: 20,
 20794.5: 76,
 11781.0: 91,
 13873.5: 31,
 26950.5: 7,
 16083.0: 59,
 20191.5: 34,
 10935.0: 34,
 17703.0: 31,
 18333.0: 16,
 18553.5: 47,
 26005.5: 28,
 69651.0: 11,
 11871.0: 130,
 4675.5: 1,
 24822.0: 56,
 33997.5: 5,
 24034.5: 28,
 15129.0: 43,
 37192.5: 17,
 15448.5: 79,
 33277.5: 123,
 25839.0: 72,
 42642.0: 357,
 36441.0: 15,
 19039.5: 190,
 43191.0: 119,
 30109.5: 88,
 20079.0: 57,
 31590.0: 9,
 26064.0: 84,
 15291.0: 32,
 28341.0: 51,
 19048.5: 85,
 14751.0: 551,
 21748.5: 79,
 14508.0: 74,
 21649.5: 93,
 23773.5: 875,
 25978.5: 74,
 26716.5: 20,
 34258.5: 50,
 28597.5: 197,
 14058.0: 18,
 15993.0: 23,
 29079.0: 44,
 26194.5: 60,
 23962.5: 168,
 36423.0: 193,
 7866.0: 8,
 24399.0: 21,
 17694.0: 368,
 24939.0: 491,
 23949.0: 83,
 44644.5: 132,
 33993.0: 20,
 12726.0: 97,
 30838.5: 156,
 18778.5: 35,
 42282.0: 13,
 39807.0: 11,
 19192.5: 10,
 23598.0: 26,
 12919.5: 117,
 19971.0: 22,
 28278.0: 108,
 39078.0: 24,
 12132.0: 22,
 29290.5: 78,
 29416.5: 78,
 22050.0: 383,
 51745.5: 71,
 14287.5: 18,
 24898.5: 11,
 32760.0: 104,
 21406.5: 113,
 22239.0: 30,
 47385.0: 32,
 29727.0: 2,
 36562.5: 60,
 19170.0: 49,
 19683.0: 33,
 13306.5: 35,
 34636.5: 25,
 17235.0: 83,
 26487.0: 134,
 20520.0: 47,
 41773.5: 15,
 13018.5: 26,
 28417.5: 65,
 28728.0: 229,
 21627.0: 110,
 54436.5: 109,
 30406.5: 43,
 27121.5: 32,
 64998.0: 3,
 34578.0: 86,
 51552.0: 42,
 17905.5: 282,
 26311.5: 20,
 21685.5: 23,
 34317.0: 26,
 19408.5: 21,
 36225.0: 5,
 37606.5: 17,
 11826.0: 92,
 26775.0: 28,
 17469.0: 59,
 37372.5: 14,
 16969.5: 54,
 38025.0: 15,
 54364.5: 70,
 37066.5: 36,
 32116.5: 17,
 65988.0: 2,
 13738.5: 46,
 41841.0: 10,
 26986.5: 45,
 9472.5: 117,
 36643.5: 110,
 41670.0: 30,
 20227.5: 42,
 35122.5: 100,
 23629.5: 13,
 10489.5: 74,
 27760.5: 75,
 25969.5: 310,
 24817.5: 30,
 20853.0: 47,
 9981.0: 50,
 46399.5: 20,
 5616.0: 59,
 11992.5: 22,
 38745.0: 2,
 56029.5: 80,
 7686.0: 78,
 32625.0: 12,
 20245.5: 17,
 30631.5: 30,
 29074.5: 89,
 23760.0: 21,
 11205.0: 16,
 38790.0: 16,
 26347.5: 21,
 39298.5: 84,
 30150.0: 145,
 25947.0: 16,
 29151.0: 47,
 14418.0: 47,
 23301.0: 41,
 7668.0: 23,
 16587.0: 137,
 18270.0: 20,
 29092.5: 22,
 32530.5: 13,
 12766.5: 42,
 46525.5: 2,
 38263.5: 378,
 53397.0: 8,
 28822.5: 14,
 16501.5: 53,
 16681.5: 89,
 57199.5: 35,
 67203.0: 41,
 29583.0: 17,
 4770.0: 2,
 25537.5: 836,
 21100.5: 52,
 18369.0: 19,
 53995.5: 8,
 ...}

In [37]:
max(count,key = count.get)

9000.0